{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <main>
        <div class="title-section">
            <h1>Edit Category</h1>
        </div>

        <div class="form-content">
            {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

    </main>
{% endblock %}
