{% extends 'base.html.twig' %}

{% block title %}Acerca de ZenPaw Tech{% endblock %}

{% block body %}
    <main class="container">
        <article>
            <h1>Sobre ZenPaw Tech</h1>
            <p>Este blog ha sido creado como parte del Seminario 1 "Symfony 'Hands-on' - Mi
                Primer Blog Tecnológico" de la asignatura de Desarrollo en Entorno Servidor.</p>
            <p><strong>Tecnologías utilizadas:</strong></p>
            <ul>
                <li>Symfony 8</li>
                <li>Docker</li>
                <li>Doctrine ORM</li>
                <li>Twig</li>
            </ul>
            <a href="{{ path('app_blog_index') }}" class="contrast">Volver al inicio</a>
        </article>
    </main>
{% endblock %}
