{% extends 'base.html.twig' %}

{% block title %}ZenPaw Tech{% endblock %}

{% block body %}
    <main>
        <div class="back-link-container">
            <a href="{{ path('app_blog_index') }}" class="btn btn-blue">← Volver al listado</a>
        </div>
        <div class="container container-post">
            <article class="post-preview">
                <div class="post-title">
                    <h1>Sobre ZenPaw Tech</h1>
                </div>
                <div class="post-detail">
                    <p>Este blog ha sido creado como parte del Seminario 1 "Symfony 'Hands-on' - Mi
                        Primer Blog Tecnológico" de la asignatura de Desarrollo en Entorno Servidor.</p>

                </div>
            </article>
        </div>

    </main>
{% endblock %}
