{% extends 'base.html.twig' %}

{% block title %}ZenPaw Tech - Inicio{% endblock %}

{% block body %}
    <main>
        <div class="title-section">
            <h1>ZenPaw Tech Blog</h1>
            <p>Últimos artículos publicados</p>
        </div>

        <div class="container container-post">


            {% for post in posts %}
                <article class="post-preview">
                    <div class="post-title">
                        <h2>
                            <a href="{{ path('app_blog_show', {slug: post.slug}) }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </div>
                    <p class="post-summary">{{ post.summary }}</p>
                    <div class="post-date">
                        <p>Publicado el {{ post.publishedAt|date('d/m/Y') }}</p>
                    </div>
                </article>
            {% else %}
                <p>No hay artículos todavía. ¡Es hora de crear el primero!</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}
