{% extends 'base.html.twig' %}

{% block title %}ZenPaw Tech{% endblock %}

{% block body %}
    <main>
        <div class="title-section">
            <div class="tittle-new">
                <h2>Crear nuevo artículo</h2>
            </div>
        </div>
        <div class="form-content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-buttons">
                <button type="submit" class="btn btn-blue">Guardar Artículo</button>
                <a href="{{ path('app_blog_index') }}" class="btn btn-blue">Cancelar</a>
            </div>
            {{ form_end(form) }}

        </div>

    </main>
{% endblock %}
